@model TourParty  


<div class="row mb-2">
    <div class="col ml-5">
        <span class="badge badge-pill badge-success m-1">Party of @Model.PartySize</span>
    </div>
</div>

<ul class="text-white">
    <li><b>Name:</b> @Model.FirstName @Model.LastName</li>
    <li><b>Email:</b> @Model.EmailAddress</li>
    <li><b>Phone:</b> @Model.PhoneNumber</li>
    @*<li><b>Size of Party:</b> @Model.PartySize</li>*@
</ul>